<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <title>Bulldog Taxi</title>

    <!-- Bootstrap Core CSS -->


    <!-- Custom CSS -->

    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<%= javascript_include_tag "GoogleAnalytics", "data-turbolinks-track" => true %>

</head>

<body>
    <!-- Facebook Script for SKD -->
      <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '533235630138998',
          xfbml      : true,
          version    : 'v2.0'
        });
      };


      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- End Facebook Script -->

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top yale-blue" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <%= link_to "Bulldog Taxi", :root, class: "navbar-brand" %>
                <ul class="nav navbar-nav navbar-right">
                    <% if @signedin && User.find_by(netid: session[:cas_user]).fname != nil %>
                        <li><%= link_to "Create Trip", new_trip_path %></li>
                        <li id="fat-menu" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <%= User.find_by(netid: session[:cas_user]).fname %> <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><%= link_to "Profile", User.find_by(netid: session[:cas_user]) %></li>
                                <li class="divider"></li>
                                <li>
                                  <%= link_to "Sign out", logout_path %>
                                </li>
                            </ul>
                        </li>
                    <% else %>
                        <li><%= link_to "Create Trip", new_user_path %></li>
                     <% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Header -->
    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Bulldog Taxi</h1>
                        <h3>A Better Way to Yale</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                               <% if @signedin && User.find_by(netid: session[:cas_user]).fname != nil %>
                                <%= link_to "Bradley to Yale!", new_trip_path, class: "btn btn-large btn-primary" %>
                                <% else %>
                            <%= link_to "Bradley to Yale!", new_user_path, class: "btn btn-large btn-primary" %>
                            <% end %>
                            </li> <br><br>
                            <li>
                            <%= link_to "New York airports coming soon!", "#", disabled: true, class: "btn btn-secondary btn-large"%>
                            </li> 
                        </ul>
                    </div>
                </div>
            </div>
            <div class="pull-right" id="facebook">
                    <div class="row">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://bulldogtaxi.herokuapp.com" data-hashtags="BulldogTaxi">Tweet</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </div>
                    <div class="row">
                        <div
                          class="fb-like"
                          data-send="true"
                          data-layout="button_count"
                          data-width="450"
                          data-show-faces="true">
                        </div>
                    </div>
                </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">$50 Cab Ride from Bradley. Guaranteed.</h2>
                    <p class="lead">Bulldog Taxi works by matching you with other Yale student travelers. Just land, collect your luggage, and meet us at the airport to pick up your prepaid fare card. If you ever wait more than an hour, your ride is half-price.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <%= image_tag('bdt_logo2.jpg', class: "img-responsive img-circle") %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

    </div>
    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"> Meet Your Team Members</h2>
                    <h3 class="section-subheading text-muted">Created by YEI Tech-Bootcamp Fellows:</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="team-member">
                        <%= image_tag('patrick_founder_photo.jpg', class: "img-responsive img-circle border") %>
                        <h4>Patrick Casey</h4>
                        <p class="text-muted">Saybrook '15</p>
                    </div>
                </div>
                <div class="col-sm-4">
                 <p class="lead"><small>I am an econ major and a rising senior in Saybrook College. I'm active in Saybrook College Council, the Senior Class Council, and the Yale Student Investment Group. As a regular traveler through Bradley, I've spent more than a few miserable hours waiting for the bus. I hope that you'll try Bulldog Taxi to ride to Yale in comfort.</small></p>
                </div>
                <div class="col-sm-2">
                    <div class="team-member">
                        <%= image_tag('ben_founder_photo.jpg',class: "img-responsive img-circle border") %>
                        <h4>Benjamin Burke </h4>
                        <p class="text-muted">Pierson '15</p>
                    </div>
                </div>
                <div class="col-sm-4">
                <p class="lead"><small>I am an Chemical Engineering major and a rising senior in Pierson College. In addition to Bulldog Taxi, I am one of the captains of the club hockey team, a FOOT leader, an AYA liason to Pierson, and an active member of Pierson College life including Intramurals and the Housing Committee. I can't wait to see you all in the Fall.</small> </p>
                </div>
            </div>
        </div>
    </section>

    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-3">
                    <h2>Connect:</h2>
                </div>
                <div class="col-lg-4">
                    <ul class="list-inline banner-social-buttons opaque">
                        <li>
                            <h3>bulldogtaxirides@gmail.com</h3>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3">
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /.banner -->
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="pull-right" id="facebook">
                    <div class="row">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://bulldogtaxi.herokuapp.com" data-hashtags="BulldogTaxi">Tweet</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </div>
                    <div class="row">
                         <div
                          class="fb-like"
                          data-send="true"
                          data-layout="button_count"
                          data-width="450"
                          data-show-faces="true">
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <%= link_to "Home", :root %>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <% if @signedin && User.find_by(netid: session[:cas_user]).fname != nil %>
                            <li><%= link_to "Create Trip", new_trip_path %></li>
                        <% else %>
                            <li><%= link_to "Create Trip", new_user_path %></li>
                        <% end %>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Bulldog Taxi 2014. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
