<div class="container">
	<div class="center row">
	</div>	
	<div class='span4'>
	</div>
	<div class='hero_compress span hero-unit center'>
		<h1> Edit Flight Information </h1>
	<%= form_for @trip do |f| %>
		<p>
			<%= label_tag :arrival_date, "Arrival Date:" %>
			<%= text_field_tag :arrival_date, nil, class: "trip_arrival_date" %>

			<%= label_tag :arrival_time, "Arrival Time:" %>
			<div class="input-append bootstrap-timepicker">
				<%= text_field_tag :arrival_time, nil, class: "trip_arrival_time" %>
			</div>

			<%= label_tag :carrier_id, "Carrier:" %>
			<%= select_tag :carrier_id, options_from_collection_for_select(@carriers, :id, :name) %>
			
			<%= label_tag :arrival_airport_id, "Arrival Airport:" %>
			<%= select_tag :arrival_airport_id, options_from_collection_for_select(@airports, :id, :name) %>
			
			<%= label_tag :departure_airport, "Departure Airport or City (optional):" %>
			<%= text_field_tag :departure_airport,nil, placeholder: "JFK International or New York"  %>


			<%= f.label :flight_number, "Flight Number (optional):*" %>
			<%= f.text_field :flight_number, placeholder: "7777" %>

			<%= f.hidden_field :confirmation, value: "BDT-" + rand(1000..9999).to_s %>

		</p>
			<p><%= f.submit "submit", class: "btn btn-primary btn-large" %> </p>
		<% end %>
		<div id="trip_form_footer" class="row pull-left">
			<p>*Flight number allows us to track your flight and better serve you in case of flight delays.</p>
		</div>
	</div>
	<div class='span4'>
	</div>
</div>