<div class="main-content container">
	<div class="row">
		<div class="hero-unit span7" id="one">
			<h3> August 20th </h3>
			<% @flights.each do |flight| %>
				<% if flight.trip.payment_status == true %>
					<% if flight.arrival_datetime.to_s.split(" ")[0].split("-")[2] == "20" %>
						<%= flight.arrival_datetime%><br>
						<small><%=flight.trip.confirmation%> <br>
								<%= flight.trip.user.fname + " " + flight.trip.user.lname %><br>
						</small>
					<% end %>
				<% end %>
			<% end %>
		</div>
		<div class="hero-unit span7" id="two">
			<h3> August 21st </h3>
			<% @flights.each do |flight| %>
				<% if flight.trip.payment_status == true %>
					<% if flight.arrival_datetime.to_s.split(" ")[0].split("-")[2] == "21" %>
						<%= flight.arrival_datetime%><br>
						<small><%=flight.trip.confirmation%> <br>
								<%= flight.trip.user.fname + " " + flight.trip.user.lname %><br>
						</small>
					<% end %>
				<% end %>
			<% end %>
		</div>
		<div class="hero-unit span7" id="three">
			<h3> August 22nd </h3>
			<% @flights.each do |flight| %>
				<% if flight.trip.payment_status == true %>
					<% if flight.arrival_datetime.to_s.split(" ")[0].split("-")[2] == "22" %>
						<%= flight.arrival_datetime%><br>
						<small><%=flight.trip.confirmation%> <br>
								<%= flight.trip.user.fname + " " + flight.trip.user.lname %><br>
						</small>
					<% end %>
				<% end %>
			<% end %>
		</div>
		<div class="hero-unit span7" id="four">
			<h3> August 23rd </h3>
			<% @flights.each do |flight| %>
				<% if flight.trip.payment_status == true %>
					<% if flight.arrival_datetime.to_s.split(" ")[0].split("-")[2] == "23" %>
						<%= flight.arrival_datetime%><br>
						<small><%=flight.trip.confirmation%> <br>
								<%= flight.trip.user.fname + " " + flight.trip.user.lname %><br>
						</small>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>
	<div class="hero-unit span pull-left row">
		<%= @flights.count %> 
	</div>
</div>
