<div class="main-content container">
	<div class="hero-unit pull-left row">
		<%= @flights.count %>
		<%= @user.tokens %>
	</div>
	<div class="hero-unit span5" id="hacky">
		<% @flights.each do |flight| %>
			<% if flight.trip.payment_status == true %>
			<%= flight.arrival_datetime %><br>
			<small><%=flight.trip.confirmation%> <br>
					<%= flight.trip.user.fname %><br>
			</small>
			<% end %>
		<% end %>
	</div>
</div>
