<div class="main-content container">
	<div class="row">
		<div class="hero-unit span12" >
			<h3> August 20th </h3>
			<% @flights.each do |flight| %>
				<% if flight.trip.payment_status == true %>
					<% if flight.arrival_datetime.to_s.split(" ")[0].split("-")[2] == "20" %>
						 <small> Arrival: <%= flight.arrival_datetime%> | 
						 Confirmation: <%=flight.trip.confirmation%> |
								User: <%= flight.trip.user.fname + " " + flight.trip.user.lname %> |
								College: <%= flight.trip.user.college %> |
								Year: <%= flight.trip.user.year %><br><br>
						</small>
					<% end %>
				<% end %>
			<% end %>
		</div>
		<div class="hero-unit span12" >
			<h3> August 21st </h3>
			<% @flights.each do |flight| %>
				<% if flight.trip.payment_status == true %>
					<% if flight.arrival_datetime.to_s.split(" ")[0].split("-")[2] == "21" %>
						<small> Arrival: <%= flight.arrival_datetime%>| 
						 Confirmation: <%=flight.trip.confirmation%> |
								User: <%= flight.trip.user.fname + " " + flight.trip.user.lname %>|
								College: <%= flight.trip.user.college %> |
								Year: <%= flight.trip.user.year %><br><br>
						</small>
					<% end %>
				<% end %>
			<% end %>
		</div>
		<div class="hero-unit span12" >
			<h3> August 22nd </h3>
			<% @flights.each do |flight| %>
				<% if flight.trip.payment_status == true %>
					<% if flight.arrival_datetime.to_s.split(" ")[0].split("-")[2] == "22" %>
						<small> Arrival: <%= flight.arrival_datetime%>| 
						 Confirmation: <%=flight.trip.confirmation%> |
								User: <%= flight.trip.user.fname + " " + flight.trip.user.lname %>|
								College: <%= flight.trip.user.college %> |
								Year: <%= flight.trip.user.year %><br><br>
						</small>
					<% end %>
				<% end %>
			<% end %>
		</div>
		<div class="hero-unit span12" >
			<h3> August 23rd </h3>
			<% @flights.each do |flight| %>
				<% if flight.trip.payment_status == true %>
					<% if flight.arrival_datetime.to_s.split(" ")[0].split("-")[2] == "23" %>
						<small> Arrival: <%= flight.arrival_datetime%>| 
						 Confirmation: <%=flight.trip.confirmation%> |
								User: <%= flight.trip.user.fname + " " + flight.trip.user.lname %>|
								College: <%= flight.trip.user.college %> |
								Year: <%= flight.trip.user.year %><br><br>
						</small>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>
	<div class="hero-unit span pull-left row">
		<%= @flights.count %> 
	</div>
</div>
