<%= @user.name %>
<%= @user.email %>
<%= @user.phone_number %>


<div class="container">
	<div class="center row">
		<h1> Step 2: Flight Information </h1>
	</div>	
	<div class='span4'>
	</div>
	<div class='span4 hero-unit center'>
	<%= form_for @trip do |f| %>
		<p>
			<%= label_tag :arrival_datetime, "Arrival Date and Time:" %>
			<%= text_field_tag :arrival_datetime, nil, class: "trip_arrival_date" %>

			<%= f.label :flight_number, "Flight Number:" %>
			<%= f.text_field :flight_number %>
			
			<%= label_tag :departure_airport, "Departure Airport:" %>
			<%= text_field_tag :departure_airport %>

			<%= label_tag :arrival_airport, "Arrival Airport:" %>
			<%= text_field_tag :arrival_airport %>

			<%= f.hidden_field :confirmation, value: rand(100..200) %>
		</p>
			<p><%= f.submit "submit" %> </p>
		<% end %>
	</div>
	<div class='span4'>
	</div>
</div>