<div class="container">
	<div class="center row">
		<h1> Step 2: Flight Information </h1>
	</div>	
	<div class='span4'>
	</div>
	<div class='span4 hero-unit center'>
	<%= form_for @trip do |f| %>
		<p>
			<%= label_tag :arrival_date, "Arrival Date:" %>
			<%= text_field_tag :arrival_date, nil, class: "trip_arrival_date" %>

			<%= label_tag :arrival_time, "Arrival Time:" %>
			<div class="input-append bootstrap-timepicker">
				<%= text_field_tag :arrival_time, nil, class: "trip_arrival_time" %>
			</div>

			<%= label_tag :carrier_id, "Carrier:" %>
			<%= select_tag :carrier_id, options_from_collection_for_select(@carriers, :id, :name) %>
			
			<%= f.label :flight_number, "Flight Number:" %>
			<%= f.text_field :flight_number, placeholder: "7777" %>
			
			<%= label_tag :departure_airport, "Departure Airport or City:" %>
			<%= text_field_tag :departure_airport,nil, placeholder: "JFK International or New York"  %>

			<%= label_tag :arrival_airport_id, "Arrival Airport:" %>
			<%= select_tag :arrival_airport_id, options_from_collection_for_select(@airports, :id, :name) %>

			<%= f.hidden_field :confirmation, value: "BDT-" + rand(1000..9999).to_s %>
		</p>
			<p><%= f.submit "submit", class: "btn btn-primary btn-large" %> </p>
		<% end %>
	</div>
	<div class='span4'>
	</div>
</div>