<div class="row">
	<div class="span2">
	</div>
	<div class="hero-unit span8 center">
		<h2> Trip from <%= @flight.departure_airport %> to <%= @flight.arrival_airport %> </h2>
		<h3>User:</h3>
			<b>Name:</b> <%= @user.name %> <br>
			<b>Email:</b> <%= @user.email %> <br>
			<b>phone:</b> <%= @user.phone_number %> <br/>
			<b>NetID:</b> <%= @user.netid %> <br/>
		<h3>Trip:</h3>
			<b>confirmation number:</b> <%= @trip.confirmation %> <br/>
		<h3>Flight:</h3>
			<b>Flight Number:</b> <%= @trip.flight_number %> <br>
			<b>Departure Airport:</b> <%= @flight.departure_airport %><br>
			<b>Arrival Aiport:</b> <%= @flight.arrival_airport %><br>
			<b>Flight Provider:</b> <%= @flight.carrier_name %><br>
			<b>Arrival Date & Time:</b> <%= @flight.arrival_datetime %><br>
	</div>
	<div class="span2">
	</div>
</div>