<div class="main-content container">
	<div class="span12" id="hacky">
	<div class="hero-unit span7 left" id="one">
		<h2> Trip from <%= @flight.departure_airport %> to <%= @flight.arrival_airport %> </h2>
		<h3>User:</h3>
			<b>Name:</b> <%= @user.fname + " " + @user.lname %> <br>
			<b>Email:</b> <%= @user.email %> <br>
			<b>Phone:</b> <%= @user.phone_number %> <br/>
			<b>NetID:</b> <%= @user.netid %> <br/>
		<h3>Trip:</h3>
			<b>Confirmation Number:</b> <%= @trip.confirmation %> <br/>
			<b>Payment Status: </b> <%= @trip.payment_status %> <br/>
		<h3>Flight:</h3>
			<b>Flight Number:</b> <%= @trip.flight_number %> <br>
			<b>Departure Airport:</b> <%= @flight.departure_airport %><br>
			<b>Arrival Aiport:</b> <%= @flight.arrival_airport %><br>
			<b>Flight Provider:</b> <%= @flight.carrier_name %><br>
			<b>Arrival Date:</b> <%= outputDateTime(@flight.arrival_datetime)[0] %><br>
          	<b>Arrival Time:</b> <%= outputDateTime(@flight.arrival_datetime)[1] %><br>
	</div>
	<div class="hero-unit span5" id="two">
        <div id="left">
        <h3> Next Steps</h3>
          <ul>
            <li> Meet us at Bradley. We'll be between doors 2 and 3, near baggage claim </li>
            <li> View your trip any time at your <b><%=link_to "profile page", @user %></b>. 
            </li>
            <li> Update your <b><%=link_to "profile page", @user %></b> to improve our matching algorithm. You can update your class year and college so that we can potentially match you with friends you never knew were at the airport!
             </li>
          </ul>
          </div>
        </p>
        <h4> We will see you in the airport!<br> <small> Please contact us with any questions or concerns at <em>bulldogtaxirides@gmail.com </em> or (978)767-1566 </small></h4>
    </div>
	</div>


</div>