<h2> Testing </h2>
User:
<%= @user.name %>
<%= @user.email %> 
<%= @user.phone_number %> <br/>
Trip:
<%= @trip.flight_number %>
<%= @trip.confirmation %> <br/>
Flight:
<%= @flight.departure_airport %>
<%= @flight.arrival_airport %>
<%= @flight.arrival_datetime %>
<%= @flight.carrier_name %>