<%= @user.name %>
<%= @user.email %>


<div class="container">
	<div class='span4'>
	</div>
	<div class='span4 hero-unit center'>
		<%= form_for(@trip, :url =>{:action => 'create'}) do |f| %>

			Departure Airport <br />
				<%= f.fields_for :flights do |flight_field| %>
					<%= flight_field.text_field :departure_airport %> <br/><br/>
				<% end %> 

			Flight Number:
			<%= f.text_field :flight_number %><br/><br/>

			<div class='actions'>
				<%= submit_tag "Next", class: "btn btn-primary" %>
			</div>
		<% end %>



	</div>
	<div class='span4'>
	</div>
</div>