<div class="container">
	<div class="center row">
		<h1> Step 1: User Information </h1>
	</div>	
	<div class='span4'>
	</div>
	<div class='span4 hero-unit center'>
		<%= form_for @user do |f| %>
			<%= label_tag :first_name, "First name:" %>
		  <%= text_field_tag :first_name %>

		  <%= label_tag :last_name, "Last name:" %>
		  <%= text_field_tag :last_name %>

		  <%= f.label "Yale email:" %>
		  <%= f.text_field :email %>

		  <%= f.label "Phone number:" %>
		  <%= f.text_field :phone_number, placeholder: "617 867 5309" %>

		  <% unless @user.trips.count >= 1 %>
		  <%= label_tag "Promotional Code:" %>
		  <%= text_field_tag :parent_code,nil, placeholder: "123ABC" %>
		  <% end %> 

		  <%= hidden_field_tag :page, "form" %>
		  <%= f.hidden_field :promo_code, value: (@user.id + 137).to_s + (65+rand(25)).chr + (65+rand(25)).chr + (65+rand(25)).chr %>

		  <%= f.submit "Next", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
	<div class='span4'>
	</div>
</div>