<h2> Trip Confirmation for <%= @user.fname + " " + @user.lname %> </h2>

  <h2>Thanks for riding with Bulldog Taxi!</h2>
  <p>Using our service is easy. We'll wait for you at Bradley between doors 2 and 3, near baggage claim. In the meantime, update your profile, like us on facebook, and share your promo code with other Yale travellers!</p>

<h4>confirmation number:</h4> <%= @trip.confirmation %> <br/><br/>
       <h3> Paid: $<%= @price %>.00</h3>

      <h3>Trip For:</h3>
        <b>Name:</b> <%= @user.fname + " " + @user.lname %> <br>
        <b>Email:</b> <%= @user.email %> <br>
        <b>Phone:</b> <%= @user.phone_number %> <br/>
        <b>NetID:</b> <%= @user.netid %> <br/>
      <h3>Flight Information:</h3>
        <b>Flight Number:</b> <%= @trip.flight_number %> <br>
        <b>Departure Airport:</b> <%= @flight.departure_airport %><br>
        <b>Arrival Aiport:</b> <%= @flight.arrival_airport %><br>
        <b>Flight Provider:</b> <%= @flight.carrier_name %><br>
        <b>Arrival Date:</b> <%= outputDateTime(@flight.arrival_datetime)[0] %><br>
        <b>Arrival Time:</b> <%= outputDateTime(@flight.arrival_datetime)[1] %><br>

      <h5> Promotional Code: </h5> <%= @user.promo_code %> <br> <small>Share this code with your friends! If someone else signs up with your promotional code, they will get a discount on their ride and you will get cash back at the airport.</small>

 