<div class="row">
  <div class= "hero-unit center span8">
        <h4>confirmation number:</h4> <%= @trip.confirmation %> <br/><br/>
       <h3> Paid: $<%= @price %>.00 </h3>
      <h2> Trip Receipt <br><small><b>Thanks for riding with Bulldog Taxi! We've sent you a confirmation email.</b>
        <ul>
          <li> Meet us at Bradley. We'll be between doors 2 and 3, near baggage claim </li>
          <li> View your trip any time at your <b><%=link_to "profile page", @user %></b>. </li>
          <li> Update your <b><%=link_to "profile page", @user %></b> to improve our matching algorithm. </li>
        </ul>
      </small> </h2>

      <h3>Trip For:</h3>
        <b>Name:</b> <%= @user.name %> <br>
        <b>Email:</b> <%= @user.email %> <br>
        <b>Phone:</b> <%= displayPhoneNumber(@user.phone_number) %> <br/>
        <b>NetID:</b> <%= @user.netid %> <br/>
      <h3>Flight Information:</h3>
        <b>Flight Number:</b> <%= @trip.flight_number %> <br>
        <b>Departure Airport:</b> <%= @flight.departure_airport %><br>
        <b>Arrival Aiport:</b> <%= @flight.arrival_airport %><br>
        <b>Flight Provider:</b> <%= @flight.carrier_name %><br>
        <b>Arrival Date:</b> <%= outputDateTime(@flight.arrival_datetime)[0] %><br>
        <b>Arrival Time:</b> <%= outputDateTime(@flight.arrival_datetime)[1] %><br>

      <h5> Promotional Code: </h5> <%= @user.promo_code %> <br> <small>Share this code with your friends! If someone else signs up with your promotional code, they will get a discount on their ride and you will get cash back at the airport.</small>


  </div>
</div>