<%= form_tag charges_path do %>
  <div class="row">
    <div class= "span2">
    </div>
    <div class= "hero-unit span8">
      <div class='left'>
        <h2> Review Trip and Pay </h2>
        <h3>User:</h3>
          <b>Name:</b> <%= @user.name %> <br>
          <b>Email:</b> <%= @user.email %> <br>
          <b>phone:</b> <%= @user.phone_number %> <br/>
        <h3>Flight:</h3>
          <b>flight number:</b> <%= @trip.flight_number %> <br>
          <b>Departure Airport:</b> <%= @flight.departure_airport %><br>
          <b>Arrival Aiport:</b> <%= @flight.arrival_airport %><br>
          <b>Flight Provider:</b> <%= @flight.carrier_name %><br>
          <b>Arrival Date & Time:</b> <%= @flight.arrival_datetime %><br>
          <b>Payment Status: </b> <%= @trip.payment_status %> <br>
      </div>
      <div class='center'>
        <article>
          <label class="amount">
            <span>
              <h3>Amount: $50.00</h3>
            </span>
          </label>
        </article>

        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button button-large"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="Purchase your Ride"
                data-amount="5000"></script><br>
        <div class="stripe_logo pull-right">
          <%= link_to image_tag("stripe_logo.png", :alt => "powered by stripe"), "https://stripe.com/", :target => "_blank" %>
      </div>
    </div>


  </div>
  <div class= "span2">
  </div>
</div>
<% end %>