<%= form_tag charges_path do %>
  <div class="container main-content" id="new_charge">
    <div class= "hero_compress hero-unit span8 low-opacity" id="hacky">
      <div class='left'>
        <div class="row">
        <h2>Review and Pay</h2>
        <%= link_to "Edit Trip", edit_trip_path(@trip), class: "btn-primary btn-large" %>
        </div>
        <h3>User:</h3>
          <b>Name:</b> <%= @user.fname + " " + @user.lname %> <br>
          <b>Email:</b> <%= @user.email %> <br>
          <b>Phone:</b> <%= displayPhoneNumber(@user.phone_number) %> <br/>
        <h3>Flight:</h3>
          <b>flight number:</b> <%= @trip.flight_number %> <br>
          <b>Departing From:</b> <%= @flight.departure_airport %><br>
          <b>Arriving To:</b> <%= @flight.arrival_airport %><br>
          <b>Flight Provider:</b> <%= @flight.carrier_name %><br>
          <b>Arrival Date:</b> <%= outputDateTime(@flight.arrival_datetime)[0] %><br>
          <b>Arrival Time:</b> <%= outputDateTime(@flight.arrival_datetime)[1] %><br>
      </div>
      <div class='center'>
        <article>
          <label class="amount">
            <span>
              <h3>Amount: $<%= @price %>.00</h3>
            </span>
          </label>
        </article>

        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button button-large"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="Purchase your Ride"
                data-amount="<%= @price*100 %>"></script><br>
        <div class="stripe_logo pull-right row">
          <%= link_to image_tag("stripe_logo.png", :alt => "powered by stripe"), "https://stripe.com/", :target => "_blank" %>
      </div>
      <div id="stripe_assurance" class="row pull-left">
      <p>Stripe is a secure, third-party payment service. We'll never see your card information.<p>
      </div>
    </div>


  </div>
  <div class= "span2">
  </div>
</div>
<% end %>