<div class="cover">
		<div class="navbar navbar-inverse bottom">
			<div class="navbar-inner">
				<div class="container">
	  				<%= link_to "Bulldog Taxi", root_path, id: "logo" %>
					<nav>
						<ul class="nav pull-right edge">
							<li><%= link_to "Create Trip!", new_user_path %></li>
							<% if !@signedin %>
							<li><%= link_to "Sign In", User.find_by(netid: session[:cas_user]) %></li>
							<% else %>

							<li id="fat-menu" class="dropdown">
              					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					              	<% if User.find_by(netid: session[:cas_user]).name != nil %>
					                <%= User.find_by(netid: session[:cas_user]).name.split(" ")[0] %> <b class="caret"></b>
					                <% end %>
              					</a>
              					<ul class="dropdown-menu">
					                <li><%= link_to "Profile", User.find_by(netid: session[:cas_user]) %></li>
					                <li class="divider"></li>
					                <li>
					                  <%= link_to "Sign out", logout_path %>
					                </li>
              					</ul>
           					</li>

							<% end %>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<div>