	<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top yale-blue" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <%= link_to "Bulldog Taxi", :root, class: "navbar-brand" %>
            <ul class="nav navbar-nav navbar-right">
                <% if @signedin && User.find_by(netid: session[:cas_user]).fname != nil %>
                    <li><%= link_to "Create Trip", new_trip_path %></li>
                <% else %>
                    <li><%= link_to "Create Trip", new_user_path %></li>
                 <% end %>
                <li id="fat-menu" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <%= User.find_by(netid: session[:cas_user]).fname %> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><%= link_to "Profile", User.find_by(netid: session[:cas_user]) %></li>
                        <li class="divider"></li>
                        <li>
                          <%= link_to "Sign out", logout_path %>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- Header -->
<style>
	.main-content {
		background-image: image-url("/assets/<%= ['beinecke-grey.jpg','beinecke-inner.jpg','woolsey.jpg','yalebowl.jpg','connecticuthall.jpg','oldschoololdcampus.jpg'].shuffle.first %>") no-repeat center center;
		  background-size: cover;
	}
</style>
<!-- <div class="form-header" >  -->
