<!DOCTYPE html>
<html>
<head>
  <title>BulldogTaxi</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="cover">
		<div class="navbar navbar-inverse bottom">
			<div class="navbar-inner">
				<nav>
					<ul class="nav pull-right edge">
						<li><%= link_to "Create Trip!", '#' %></li>
						<li><%= link_to "Home", root_path %></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>

	<div class="background">
		<%= yield %>
	</div>
</body>
</html>
